/*primero llamo a import con las variables y todas las utilities*/
button {
  border: solid black 2px;
}

html {
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: black;
}

.navbar-toggler {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header {
  background-color: #D83636;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  font-size: 2.5rem;
  justify-content: space-between;
}
header div a img {
  height: 100%;
}
header .navbar-nav ul {
  display: flex;
  list-style: none;
  gap: 1.25rem;
  flex-wrap: wrap;
  margin: 0.625rem;
  color: black;
  text-transform: uppercase;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
}
header .navbar-nav ul li a {
  text-decoration: none;
  color: black;
}

footer {
  background-color: #D83636;
  color: black;
  padding-left: 1rem;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-area: footer;
}
footer div {
  align-self: center;
  font-size: 1.5rem;
  flex-wrap: wrap;
}
footer .divLogos {
  display: flex;
  flex-direction: row;
}
footer .divLogos h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  align-self: center;
}
footer .divLogos a {
  margin-right: 0.4rem;
  gap: 0.25rem;
}

.cards-footer {
  margin-top: 0px;
}

.main-discografia {
  color: white;
  display: flex;
  flex-direction: column;
}
.main-discografia section {
  border-top: dotted darkslategray;
  border-bottom: dotted darkslategray;
}
.main-discografia section .titulo-album {
  font-family: "Bebas Neue", sans-serif;
  text-decoration: underline double darkslategray;
  font-size: 1.7rem;
  text-transform: capitalize;
  text-indent: 15px;
  margin-top: 9px;
  margin-bottom: 9px;
}
.main-discografia section div .nuevo-album {
  font-family: "Bebas Neue", sans-serif;
  text-decoration: underline solid darkslategrey;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}
.main-discografia section div img {
  width: 300px;
  margin: 5px 10px 5px 10px;
}
.main-discografia section div .imagen-hackney {
  border-radius: 50%;
}
.main-discografia section div main section div article {
  padding: 10px;
  font-size: 1.4rem;
  font-family: "Archivo", sans-serif;
}
.main-discografia section .separadorDiscografia {
  background-color: darkslategray;
  padding: 7px;
  text-align: center;
  margin-top: 9px;
  font-family: "Archivo", sans-serif;
  letter-spacing: 2px;
  font-size: 1.3rem;
  width: 100%;
}

.mainIndex {
  display: flex;
  flex-direction: column;
}
.mainIndex .tituloRolling {
  margin-top: 0.875rem;
  width: 100%;
  height: 210px;
  align-self: center;
}
.mainIndex .parrafitoIndex {
  color: white;
  padding: 0.5rem;
  font-size: 1.5rem;
  word-spacing: 1.5px;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.main-discografia {
  color: white;
  display: flex;
  flex-direction: column;
}
.main-discografia .card-nuevoa div .nuevo-album {
  font-family: "Bebas Neue", sans-serif;
  text-decoration: underline solid darkslategrey;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}
.main-discografia .card-nuevoa div .imagen-hackney {
  border-radius: 50%;
}
.main-discografia .card-Disco {
  border-top: dotted darkslategray;
  border-bottom: dotted darkslategray;
}
.main-discografia .card-Disco .titulo-album {
  font-family: "Bebas Neue", sans-serif;
  text-decoration: underline double darkslategray;
  font-size: 1.7rem;
  text-transform: capitalize;
  text-indent: 15px;
  margin-top: 9px;
  margin-bottom: 9px;
}
.main-discografia .card-Disco div img {
  width: 300px;
  margin: 5px 10px 5px 10px;
}
.main-discografia .card-Disco div article {
  padding: 10px;
  font-size: 1.4rem;
  font-family: "Archivo", sans-serif;
}
.main-discografia .separadorDiscografia {
  background-color: darkslategray;
  padding: 7px;
  text-align: center;
  margin-top: 9px;
  font-family: "Archivo", sans-serif;
  letter-spacing: 2px;
  font-size: 1.3rem;
  width: 100%;
}

.main-ingresar {
  background-color: black;
}
.main-ingresar div h1 {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  text-decoration: underline #D83636;
  padding: 2rem 2rem 0rem 2rem;
  font-size: 2rem;
}
.main-ingresar section form .formulario {
  margin: 2rem;
  text-indent: 1rem;
  border: none;
  margin-bottom: 0px;
}
.main-ingresar section form label {
  color: white;
  font-size: 2rem;
  text-transform: capitalize;
  display: flex;
  text-decoration: underline #D83636;
}
.main-ingresar section form input {
  width: 95%;
  height: 3rem;
  margin: 0.5rem 1rem 1rem 1rem;
}

@media (min-width: 425px) {
  footer {
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    gap: 8px;
    margin-top: 150px;
  }
  header {
    width: 100%;
  }
  main section div img {
    margin-left: 70px;
  }
  .main.main-ingresar div h1 {
    font-size: 2.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
