
footer{
    background-color: #D83636;
    color: black;
    padding-left: 1rem;
    padding-top: .5rem;
    display: flex; flex-direction: row;
    justify-content: space-between;
    grid-area: footer;
    div{
        align-self: center;
        font-size: 1.5rem;
        flex-wrap: wrap;
    }
    .divLogos{
        display: flex; flex-direction: row;
        h3{
            font-family: 'Bebas Neue', sans-serif;
            font-size: 2rem;
            align-self: center;
        }
        a{
            margin: .4rem;
        }
    }
}
