
.main-ingresar{
    background-color: $background;
    div{
        h1{
        color: white;
        font-family: $font-family;
        text-decoration: underline #D83636;
        padding: 2rem 2rem 0rem 2rem;
        font-size: 2rem;
        }
    }
    section{
        form{
            .formulario{
                margin: 2rem;
                text-indent: 1rem;
                border: none;
                margin-bottom: 0px;
            }
            label{
                color: white;
                font-size: 2rem;
                text-transform: capitalize;
                display: flex;
                text-decoration: underline #D83636;
            }
            input{
                width: 95%;
                height: 3rem;
                margin: 0.5rem 1rem 1rem 1rem;
            }
        }
    }
}
