
.main-discografia{
    color: white;
    display: flex; flex-direction: column;
    section{
        border-top: dotted darkslategray;
        border-bottom: dotted darkslategray;
        .titulo-album{
            font-family: 'Bebas Neue', sans-serif;
            text-decoration: underline double darkslategray;
            font-size: 1.7rem;
            text-transform: capitalize;
            text-indent: 15px;
            margin-top: 9px;
            margin-bottom: 9px;
        }
        div{
            .nuevo-album{
                font-family: 'Bebas Neue', sans-serif;
                text-decoration: underline solid darkslategrey;
                text-align: center;
                text-transform: uppercase;
                font-size: 2rem
            }
            img{
                width: 300px;
                margin: 5px 10px 5px 10px;
            }
            .imagen-hackney{
                border-radius: 50%;
            }
            main section div article{
                padding: 10px;
                font-size: 1.4rem;
                font-family: 'Archivo', sans-serif;
            }
        }
        
    .separadorDiscografia{
        background-color: darkslategray;
        padding: 7px;
        text-align: center;
        margin-top: 9px;
        font-family: 'Archivo', sans-serif;
        letter-spacing: 2px;
        font-size: 1.3rem;
        width: 100%;
    }
    }
}