@media (min-width: 425px){
    footer{
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        font-size: 18px;
        gap: 8px;
        margin-top: 150px;
    }
    header{
        width: 100%;
    }
    main{
        section{
            div{
                img{
                margin-left: 70px;
                }
            }
        }
    }
    .main-ingresar{
        div{
            h1{
        font-size: 2.5rem;
            }
        }
    }
}