@media screen and (min-width: 700px){
    .main-index{
        @include flex
    }
    .tituloRolling{
        width: 600px;
        height: 194px;
        margin: .875rem 0px 0px 0px;
        align-self: center;
    }
    .main-discografia{
        .card-nuevoa{
            div{
                .imagen-hackney{
                    margin-left: 30%;
                }
            }
            iframe{
                width: 80%;
                margin-left: 10%;
                margin-right: 10%;
            }
        }
    }
    .card-Disco{
        .titulo-album{
            font-size: 2rem;
        }
        div{
            article{
                font-size: 1.7rem;
            }
            img{
                margin-left: 40px;
                margin-right: 2.5rem;
            }
        }
    }
    .separadorDiscografia{
        font-size: 2rem;
        }
    .main-ingresar{
        div{
            h1{
            font-size: 3.5rem;
            }
        }
    }
    footer div p{
        font-size: 1.5rem;
    }
    .cards{
        justify-content: space-between;
        gap: 50px;
        flex-direction: row;
        }
        .card-M{
            margin: 1rem;
        }
    .footer-miembros{
        margin-top: 100px;
    }
}